<Project>
	<PropertyGroup>
		<TargetFramework>net8.0</TargetFramework>
		<RuntimeIdentifier>win-x64</RuntimeIdentifier>
		<PublishSingleFile>true</PublishSingleFile>
		<SelfContained>true</SelfContained>
		<AssemblyName>LogFM</AssemblyName>
		<PublishDir>..\LocalBuild\Binaries\Win64\</PublishDir>
		<DebugType>None</DebugType>
	</PropertyGroup>
</Project>